## Selecting single columns

In [2]:
#Select __
#From__

Count

In [3]:
#Select Count (*)
#From __

## Filtering results

In [4]:
#In SQL, the WHERE keyword allows you to filter based on both text and numeric values in a table. There are a few different comparison operators you can use:

#= equal
#<> not equal
#< less than
#> greater than
#<= less than or equal to
#>= greater than or equal to

In [7]:
#SELECT __
#FROM __
#WHERE __ = __;

In [8]:
#SELECT __
#FROM __
#WHERE (__ = __ OR __=__)
#AND (__ = '__' OR __ = '__')

In [9]:
#SELECT __
#FROM __
#WHERE __
#BETWEEN __ AND __

In [10]:
#SELECT COUNT(*)
#FROM__
#WHERE __ IS NULL

## Order by

In SQL, the ORDER BY keyword is used to sort results in ascending or descending order according to the values of one or more columns.

By default ORDER BY will sort in ascending order. If you want to sort the results in descending order, you can use the DESC keyword

In [11]:
#SELECT __
#FROM __
#ORDER BY __ DESC

## Group by

In [12]:
#SELECT __
#FROM __
#group BY __