In [11]:
import pandas as pd
import numpy as np

In [12]:
Eval = pd.read_csv("ICE2_data_eval.csv")
Eval

,teaching,teaching.1,coursecontent,coursecontent.1,examination,Examination,labwork,labwork.1,library_facilities,library_facilities,extracurricular,extracurricular.1
0,0,teacher are punctual but they should also give...,0,content of courses are average,1,examination pattern is good,-1,"not satisfactory, lab work must include latest...",0,library facilities are good but number of book...,1,extracurricular activities are excellent and p...
1,1,Good,-1,Not good,1,Good,1,Good,-1,Not good,1,Good
2,1,Excellent lectures are delivered by teachers a...,1,All courses material provide very good knowled...,1,Exam pattern is up to the mark and the Cgpa de...,1,Lab work is properly covered in the labs by th...,1,Library facilities are excellent in terms of g...,1,Extra curricular activities also help students...
3,1,Good,-1,Content of course is perfectly in line with th...,-1,Again the university tests students of their a...,1,Good,0,Its the best thing i have seen in this univers...,-1,Complete wastage of time. Again this opinion i...
4,1,teachers give us all the information required ...,1,content of courses improves my knowledge,1,examination pattern is good,1,practical work provides detail knowledge of th...,1,library has huge collection of books from diff...,1,extracurricular activities increases mental an...
...,...,...,...,...,...,...,...,...,...,...,...,...
180,1,intraction is good and leacture delivery also ...,0,every one can tell depth of course but some on...,0,exam pattern is good and marks distribution is...,1,all labs and practical going on well,1,good,1,they all are held in super
181,1,all the given terms are good regarding the uni...,1,we are getting maximum knowledge,1,all are good,1,not bad,-1,library facilities are not good.They are not f...,1,good
182,1,All the terms are good regarding the universit...,1,Knowledge is maximum gained by reading books ...,0,The examination pattern is good .But time is n...,1,Labs are upto the mark.,1,They are good,1,the extracurricular activities held in univers...
183,-1,Some of the teacher are un experienced. Also t...,0,Its fine but it should focus more towards prac...,1,MCQ pattern is quite good and efficient way fo...,-1,Our labs do not have all facalities.,1,We have a good library with all facalities.,1,Our university has lot of extracurricular goin...
184,1,IT IS GOING GOOD,-1,HAVE TO IMPROVE,0,PAPER CHECKING IS VERY HARD REMAINING IS GOOD,1,ALL PRACTICAL WORK IS GOOD,-1,THEY IS NO PROBLEM WITH THEM\n,1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT

In [18]:
evalClean = pd.DataFrame()
columns = Eval.columns
for i in range(6):
    j = 2*i
    tmp = pd.DataFrame()
    tmp["eval"] = Eval[columns[j]]
    tmp["comment"] = Eval[columns[j+1]]
    tmp["category"] = [columns[j] for i in range(185)]
    evalClean = pd.concat([evalclean,tmp])
evalClean = evalClean.reset_index(drop=True)
evalClean

      eval                                            comment         category
0        0  teacher are punctual but they should also give...         teaching
1        1                                              Good          teaching
2        1  Excellent lectures are delivered by teachers a...         teaching
3        1                                               Good         teaching
4        1  teachers give us all the information required ...         teaching
...    ...                                                ...              ...
4620     1                         they all are held in super  extracurricular
4621     1                                               good  extracurricular
4622     1  the extracurricular activities held in univers...  extracurricular
4623     1  Our university has lot of extracurricular goin...  extracurricular
4624     1  IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT  extracurricular

[4625 rows x 3 columns]

In [19]:
import re
def clean_text(text):
    #Make text lowercase, remove punctuations, and remove numbers
    text = text.lower()
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('[0-9]+','', text)
    return text

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')

commentCV = cv.fit_transform(evalClean['comment'])
commentCV_dtm = pd.DataFrame(commentCV.toarray(), columns = cv.get_feature_names())

commentCV_dtm.index = evalClean['comment'].index
commentCV_dtm

,10,1st,1week,24hrs,90,abilities,ability,able,abroad,absolutely,...,works,world,worth,write,writing,wrong,yeah,year,years,yes
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4620,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4621,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4622,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4623,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4624,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Exploratory Analysis

In [22]:
evalClean.groupby(['eval','category']).count().unstack()

               comment                                                         \
category coursecontent examination extracurricular labwork library_facilities
eval
-1                 120          96              60     148                124
 0                 108         124              95      64                 96
 1                 512         520             770     528                520


category teaching
eval
-1             52
 0            140
 1            548

In [23]:
totalCT = commentCV_dtm.sum()
commentCV_dtm[totalCT.sort_values(ascending = False).index[:20]].sum()

good          2748
excellent      327
students       281
university     277
library        192
books          188
activities     179
course         172
pattern        164
lab            160
teachers       149
knowledge      149
time           135
average        125
teaching       124
content        124
courses        121
paper          120
checking       120
work           120
dtype: int64

Topic Modeling

In [24]:
from gensim import matutils, models
import scipy.sparse

In [25]:
tdm = commentCV_dtm.transpose()
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)
id2word = dict((v, p) for p, v in cv.vocabulary_.items())

In [26]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=20)
lda.print_topics()

[(0,
  '0.074*"excellent" + 0.031*"lab" + 0.022*"pattern" + 0.022*"knowledge" + 0.020*"work" + 0.019*"practical" + 0.018*"exam" + 0.017*"marks" + 0.017*"content" + 0.016*"checking"'),
 (1,
  '0.399*"good" + 0.024*"library" + 0.020*"facilities" + 0.019*"students" + 0.016*"course" + 0.013*"university" + 0.012*"interaction" + 0.011*"delivery" + 0.011*"time" + 0.010*"lecture"'),
 (2,
  '0.056*"activities" + 0.043*"university" + 0.040*"books" + 0.027*"extracurricular" + 0.025*"average" + 0.024*"students" + 0.023*"best" + 0.018*"like" + 0.017*"available" + 0.017*"library"')]

Text Classifier

In [27]:
from sklearn.model_selection import train_test_split

Xs_docs = evalClean['comment']
Ys_evals = evalClean['eval']
xs_training, xs_test, y_training, y_test = train_test_split(Xs_docs, Ys_evals, test_size = 0.2)

In [28]:
from sklearn.naive_bayes import MultinomialNB

# Prepare the training features
cv = CountVectorizer(stop_words='english')
features = cv.fit_transform(xs_training)

# Train a multinomial Naive Bayes Model
model = MultinomialNB()
model.fit(features, y_training)

# Prepare the testing xs.
# Here we are using transform and fit_transform to standardize the data.
# Read about the differences here: https://towardsdatascience.com/what-and-why-behind-fit-transform-vs-transform-in-scikit-learn-78f915cf96fe
feature_test = cv.transform(xs_test)

# Print the model accuracy
print(model.score(feature_test,y_test))

0.9016216216216216

In [29]:

from sklearn import svm

# Prepare the training features
cv = CountVectorizer(stop_words='english')
features = cv.fit_transform(xs_training)

# Train SVM classifier
model = svm.SVC()
model.fit(features, y_training)

# Prepare the testing xs
feature_test = cv.transform(xs_test)

# Print the model accuracy
print(model.score(feature_test,y_test))

0.972972972972973